<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/x-icon" href="~/icon.ico" />

    @*Set auto name for open page*@
    <title>@ViewData["Title"] - BookStore</title>

    @await RenderSectionAsync("Styles", required: false)

    @*general css*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @*it's for body of pages (important)*@
    <link rel="stylesheet" href="~/BookStore.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="all-nav-panel">
        <ul class="nav-panel">
            <li>
                <a asp-page="/Index">BookStore</a>
            </li>
            <li>
                <a asp-page="/WhatToRead">Че почитать?</a>
            </li>
            <li>
                <a asp-page="/FilterBooksPage" asp-route-filterString="DATE">Новенькое че-нить</a>
            </li>
            <li>
                <a asp-page="/FilterBooksPage" asp-route-filterString="POPULARITY">Популярное</a>
            </li>
            <li>
                <form method="post" asp-page="/SearchResult">
                    <div class="dropdown-search">
                        <div class="search-container">
                            <input class="input-search" type="search" name="search" placeholder="Поиск..." />
                            <button onclick="myFunction()" class="dropbtn-search show" type="button" id="myDropdownBtn">🔍</button>
                        </div>
                        <div id="myDropdown" class="dropdown-content-search">

                            <div class="multiselect">
                                <div class="selectBox">
                                    Добавить жанры
                                </div>
                                <div class="checkboxes hidden checkboxes-include">
                                </div>
                            </div>

                            <div class="multiselect">
                                <div class="selectBox">
                                    Исключить жанры
                                </div>
                                <div class="checkboxes hidden checkboxes-exclude">
                                </div>
                            </div>

                            <button class="btn-search" type="submit">поиск</button>
                        </div>
                    </div>
                </form>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="dropdown" style="float:right;">
                    <a class="username-header" asp-page="/Account/ProfilePage" asp-route-userName="@User.Identity.Name">
                        <img class="profile-mini-picture"/>
                    </a>
                    <div class="dropdown-content">
                        <a asp-page="/Account/ProfilePage" asp-route-userName="@User.Identity.Name">@User.Identity.Name</a>
                        @if (User.IsInRole("admin") || User.IsInRole("creator"))
                        {
                            <a asp-page="/Admin/AdminPage">Admin Page</a>
                        }
                        @if (User.IsInRole("creator"))
                        {
                            <a asp-page="/Creator/EditRoles">Управление</a>
                        }
                        <a asp-page="/Account/Logout">Выйти</a>
                    </div>
                </li>
            }
            else
            {
                <li style="float:right">
                    <a asp-page="/Account/Register">Регистрация</a>
                </li>
                <li style="float:right">
                    <a asp-page="/Account/Login">Войти</a>
                </li>
            }
        </ul>

    </div>

    <div class="container">
        <main role="main">
            @Html.AntiForgeryToken()
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    @if (User.Identity.IsAuthenticated)
    {
        <script>
            $.get("/Account/ProfilePage?handler=ProfilePicture", (data) => {
                document.querySelector(".profile-mini-picture").src = data;
            })
        </script>
    }

    <script>
        $(document).on("click", ".selectBox", (e) => {
            $(e.target).parent().children(".checkboxes").toggleClass("hidden");
        });
        $(document).ready(() => {
            


            $.ajax({
                url: "/Index?handler=SelectAllGenres",
                type: "GET",
                dataType: "json",
                contentType: "application/json",
                success: (data) => {
                    data.forEach((genre) => {
                        $(".checkboxes-exclude").append('<label><input class="incl-genre" type = "checkbox" name = "excludingGenres" value ="' + genre.id + '"/>' + genre.value + '</label>');
                        $(".checkboxes-include").append('<label><input class="excl-genre" type = "checkbox" name = "includingGenres" value ="' + genre.id + '"/>' + genre.value + '</label>');
                    });
                },
                error: () => {
                    $("#msg").html("Error while making Ajax call!");
                }
            });

        });
    </script>
</body>
</html>